<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>HI FROM WEBSITE</h1>
    <div>
        <form method="post" action="/url">
            <label> Enter Your Original URL </label>
            <input type="text" name="url" placeholder="http://example.com"  />
            <button type="submit">GENEARTE</button>
        </form>
    </div>
</body>

</html>