<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login Page</h1>
    <div>
        <form method="post" action="/user/login">
            <label>Email</label>
            <input type="text" placeholder="Enter Your Email Here" name="email"/>
            <label>Password</label>
            <input type="text" placeholder="Enter Your Password Here" name="password"/>
            <button type="submit">Login</button>
        </form>
  <br>
        <form method="get" action="/signup">
            <label>If new user then sign-up</label>
            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>