<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>

<body>
    <h1>Please Signup/Login</h1>
    <div>
        <form method="post" action="/user">
            <label>Name</label>
            <input type="text" placeholder="Enter Your Name Here" name="name" />
            <label>Email</label>
            <input type="text" placeholder="Enter Your email Here" name="email" />
            <label>Password</label>
            <input type="text" placeholder="Enter Your Password Here" name="password" />
            <button type="submit">Signup</button>
        </form>
    </div>
</body>

</html>